<%= link_to gravatar_for(current_user, size: Settings.gravatar_size_user), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t("static_pages.view_pro_5"), current_user %></span>
<span><%= pluralize current_user.microposts.count, t("static_pages.microposts") %></span>
