<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("header.app_name"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_pages.home.home_text"), root_path %></li>
        <li><%= link_to t("header.help_h1"), help_path %></li>
        <li><%= link_to t("header.login"), login_path %></li>
      </ul>
    </nav>
  </div>
</header>
